<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css"   href="/css/style.css"/>
      <title>VOLUNTERA</title>
   </head>
   <body>
      <div>
         <nav>
            <a href="#" class="logo" style="color: white;">Voluntera</a>
            <ul class="navbar-ul">
              <li><a href="#">Home</a></li>
              <li><a href="#">Skills</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </nav>

          <div class="main-section">
            <div class="text-container">
              <p class="greeting">Hello,</p>
              <p class="my-name">We are Voluntera</p>
              <p class="profession">An all in all Volunteering Experience</p>
              <div class="description">
               Our online community inspires people to use their skills for social good.
               We help organizations to make the most of those skills, to think through their needs and to attract the right person. 
                We believe that communication is important in recruiting trustees and volunteers, so our service encourages dialogue between organisations and individuals.
              </div>
              <div class="buttons">
               <button class="hire-btn"><a href="https://github.com/RCDD-202110-TUR-BEW/backend-capstone-turkey-voluntera" target="_blank">Github</a></button>
               <button class="down-cv"><a href="http://localhost:8000/api-docs/#/Project/get_api_project" target="_blank">Swagger Docs</a></button>
               </div>
            </div>
            <div>
              <img src="https://i.ibb.co/QjCKXQX/image-11.png" alt="A cool guy on his laptop" class="developer">
            </div>
          </div>
      </div>

   
            <div>
               <p class="my-name">Our Project designs</p>
            </div>
            <div class="figma-designs" >
               <div><iframe   width="500" height="500"
                  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FO065BEZzrJuG5YnQLrw8Wo%2FVoluntera-ERD%3Fnode-id%3D71361%253A488%0A"
                       allowfullscreen></iframe></div>
               <div><iframe  width="500"  height="500"
                  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F721smCcLSP3YylGHAhGeoK%2FFinal-System-Architecture-%28Copy%29%3Fnode-id%3D0%253A1%0A"
                     allowfullscreen></iframe></div>
          </div>

          <div class="section">
            <div class="text-container">
              <p class="my-name">Our Clients</p>
            </div>
            <div class="figma-designs">
               
               <span class="v102_2"><img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/537555f5-d940-45bd-97bb-5b65b018b2f2.png" height="240" width="240"></span><p></p>
               <span class="v103_2"><img src="https://www.re-coded.com/_next/image?url=%2FReCoded-Logo-Black.png&w=384&q=75" height="100" width="240"></span><p></p>
               <span class="v103_3"><img src="https://istanbulandi.org.tr/wp-content/uploads/2020/03/ii-Logo-concept.png" height="80" width="240"></span>
            </div>
          </div>

            <div class="section">
               <div class="text-container">
                 <p class="my-name">Our Tech Stack</p>
               </div>
               <div class="logos-designs">
                  <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1280px-Node.js_logo.svg.png" height="60" width="100"></div>
                  <div><img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" height="60" width="150"></div>
                  <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/2560px-MongoDB_Logo.svg.png" height="60" width="150"></div>
                  <div><img src="https://nodemailer.com/nm_logo_200x136.png" height="60" width="150"></div>
                  <div><img src="https://seeklogo.com/images/S/swagger-logo-A49F73BAF4-seeklogo.com.png" height="125" width="150"></div>
                  <div><img src="https://seeklogo.com/images/J/jest-logo-F9901EBBF7-seeklogo.com.png" height="125" width="75"></div>
                  
               </div>
             </div>
            </div>

            <div class="section">
               <div class="text-container">
                  <p class="my-name">Our Team members</p>
               </div>
               <div class="figma-designs">
                  <span class="v102_2"><img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/537555f5-d940-45bd-97bb-5b65b018b2f2.png" height="240" width="240"></span><p></p>
                  <span class="v103_2"><img src="https://www.re-coded.com/_next/image?url=%2FReCoded-Logo-Black.png&w=384&q=75" height="100" width="240"></span><p></p>
                  <span class="v103_3"><img src="https://istanbulandi.org.tr/wp-content/uploads/2020/03/ii-Logo-concept.png" height="80" width="240"></span>
               </div>
               </div>
            <div>
 
      
      <footer>
         <p class="footer-voluntera">Voluntera<p>
         <p class="footer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore modi consequatur repudiandae aut quasi dignissimos.</p>
         <p class="copyright">Copyright by John Doe</p>
       </footer>
   </body>
</html>
