<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Aoboshi+One&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Amiko&display=swap" rel="stylesheet" />
      <link rel="stylesheet" type="text/css"   href="/css/style.css"/>
      <title>Document</title>
   </head>
   <body>
      <div class="v2_3">
         <div class="v2_643"><span class="v2_325">Voluntera</span></div>
            <div class="v2_645">
               <span class="v2_512">An all in all Volunteering Experience</span>
               <span class="v2_513">
               
Our online community inspires people to use their skills for social good. 
We help organizations to make the most of those skills, to think through their needs and to attract the right person. 
We believe that communication is important in recruiting trustees and volunteers, so our service encourages dialogue between organisations and individuals.
</span>
               <button class="v2_514"><span class="v2_515">Sign up now</span></button>
               <button class="v119_2"><span class="v119_3">Sign in</span></button>
               <span class="v119_4">Already a member?</span>
            </div>
         </div>
         <div class="v2_647">
            <span class="v2_516">clients, who already believe in our service.</span><span class="v2_518">Our Clients</span>
            <div class="v2_524"></div>
         </div>
         <div class="v2_648">
            <div class="v2_159"></div>
            <div class="v2_161">
               <div class="v2_162">
                 
               </div>
               <div class="v2_243">
                  
               </div>
            </div>
            <div class="v2_324"><img src="https://i.ibb.co/hfb8qb7/rsz-62179b2a65743.png" height="300" width="500">
               <img src="https://i.ibb.co/L8952nZ/2022-02-24-11-43-43-PM.jpg" height="355" width="500"></div>
            <div class="v2_505"></div>
            <div class="v2_543">
               <span class="v2_544">
                  The final System Designs and Architecture along with the ERD Database design of our project will give you a 
                  better understand on how our project functions!.</span>
               <div class="v2_545"><span class="v2_546">Our Project Designs</span></div>
            </div>
         </div>
         <div class="v2_649">      
            <span class="v2_548"><img src="https://i.ibb.co/m5C35RS/2022-02-25-1-10-57-AM.jpg" height="400" width="577"></span>

            <div class="v2_549"><span class="v2_550">Technologies used to build our project</span></div>
            
         </div>
         <div class="v2_650">
            <div class="v2_78">
            </div>
            <div class="v2_160"></div>
            <div class="v2_509"></div>
            <span class="v2_517">The passionate team behind this project :</span><span class="v2_519">Team members</span>
            <div class="v2_598">
            </div>
            <div class="v2_606">
              
            </div>
         </div>
         <div class="v2_651">
            <div class="v2_4">
               <div class="v2_5">
               </div>
            </div>
            <div class="v2_506"></div>
            <div class="v2_615"></div>
            <div class="v2_616"></div>
            <span class="v2_622">Take a look at our interactive documentation:</span><span class="v2_623">Documentation</span>
         </div>
         <span class="v102_2"><img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/537555f5-d940-45bd-97bb-5b65b018b2f2.png" height="240" width="240"></span><p></p>
         <span class="v103_2"><img src="https://www.re-coded.com/_next/image?url=%2FReCoded-Logo-Black.png&w=384&q=75" height="100" width="240"></span><p></p>
         <span class="v103_3"><img src="https://istanbulandi.org.tr/wp-content/uploads/2020/03/ii-Logo-concept.png" height="80" width="240"></span>
         <div class="v104_9"></div>
         <div class="v105_11">
         </div>
         <span class="v105_12"><a href="http://localhost:8000/api-docs/#/Project/get_api_project">Docs</a></span>
         <div class="v110_19"></div>
         <div class="v110_20"><span class="v110_21">Voluntera</span></div>
      </div>
   </body>
</html>
