body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
  font-family: calibri;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NavBar */

nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color:black;
  font-family: "Big Shoulders Display", cursive;
  padding: 0px 5%;
}

nav ul{
  display:flex;
  margin-top: 10px;
}

nav ul li a{
  color: #ffffff;
  margin: 30px;
  padding-top:10px;
}

.logo {
  color: #ffffff;
  font-size: 22px;
}

/* Hero Section */

.main-section{
  margin:0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:600px;
  margin-bottom: 25px;
}

.developer{
  height: 400px;
}

.greeting{
  font-weight:bold;
  color:#6d6d6d6d;
  font-size:22px;
}

.my-name {
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}

.profession {
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}

.text-container p {
  margin: 40px 0px;
  line-height: 0px;
}

.text-container button{
  width: 130px;
  height:42px;
  border-radius:10px;
  font-weight:bold;
  font-size:14px;
  margin: 0px 10px;
}

.hire-btn {
  border: 2px solid #373636;
  color: #373636;
  background-color: transparent;
}

.down-cv {
  background-color: #0b0b0b;
  color: white;
  border: none;
}

/* Design Section */
.design-section{
  margin:0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.figma-designs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    column-gap: 20px;
}

.tech-stack{
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  column-gap: 20px;
  color: #ffffff;
}

/* footer */

footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-voluntera {
  font-size: 30px;
  margin-top:10px;
  font-weight: bold;
  color: #ffffff;
  line-height: 20px;
}

.footer-description {
  font-size: 16px;
  color: #7e7d7d;
  width:50%;
  text-align: center;
}

.copyright {
  color: #565555;
  font-size: 12px;
}

.social-icons a {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}

.social-icons {
  display: flex;
}